/*patterns*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #eeeeee !important;
    
}
.header-main{
    position: fixed;
    top: 0;
}
.patterns-sction{
    margin-top: 150px;
    padding: 0 19%;
}
/*header*/
.header-main{
    box-shadow: 0px 8px 8px 6px rgb(0 0 0 / 10%);
    width: 100%;
    position: fixed;
    top: 0;
}
/*header end*/
/***/

.caixa-ctn{
  
    padding: 15px 10px 15px 10px ;
    
 display: flex;

    
    border-radius: 8px;
   background-color: #fff;
}
.jus-donfig-caixa{
  flex-direction: column !important;
  display: flex !important;
}
.col-sm{
   
}
#recipe-wrrite{
    flex-direction: column;
    display: flex;
    margin-top: 48px;
}
.btn-ingrediente{
    border-radius: 8px;
    background-color: #c0c0c0;
    padding: 5px 0px;
    margin-top: 20px;
}
.btn-ingrediente:focus{
    border: 0;
}
.ingredient-list {
    text-align: left;

  }
.ingredient-list li{
    font-weight: bolder;
    font-size: 18px;
    margin-top: 10px;
} 


  /*footer*/
  footer{
    margin-top: 40px;
    background-color: #f3f3f7;
}
.jiso-ojs{
    display: flex;
    justify-content: flex-end;
}

.m-pl-sj{
    padding: 37px 0px;
    background-color: #ddd;
}
.ceter-psoi{
    display: flex;
    justify-content: center;
}
.title{
    color:#484848;
}
.icones-pg{
  padding-left: 30px;
}
.icones-pg a{
    text-decoration: none;
    color:#484848
}
.ceter-psoi h2{
    margin-top: 10px;
    font-size: 23px;
}                     